<table class="table">
	<thead>
		<tr>
			<th class="col-md-4">
						<div class="form-group">
							<!-- Include Required Prerequisites -->
							<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
							<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
							<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
							 
							<!-- Include Date Range Picker -->
							<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
							<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

							<div id="reportrange" class="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
							    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
							    <span></span> <b class="caret"></b>

							</div>				

							<script type="text/javascript">
							$(function() {
							    function cb(start, end) {
							        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

							    }
							    cb(moment(), moment());

							    $('#reportrange').daterangepicker({
							        ranges: {
							           'Today': [moment(), moment()],
							           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
							           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
							           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
							           'This Month': [moment().startOf('month'), moment().endOf('month')],
							           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
							           'This Year': [moment().startOf('year'), moment()]
							        }
							    }, cb);

							    // $('#reportrange').on('apply.daterangepicker', function(ev, picker){
							    // 	<% @startDate %> = $('#element').data('daterangepicker').startDate;
							    // 	<% @endDate %> = $('element').data('daterangepicker').endDate;
							    // });
							});
							</script>
						</div>	
			</th>
			<th class="col-md-4">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Status
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li class="status" value="all"><a href="#">All</a></li>
						<li class="status" value="normal"><a href="#">Normal</a></li>
						<li class="status" value="special"><a href="#">Special</a></li>
					</ul>
					<script type="text/javascript">
						$(function(){
						    $(".dropdown-menu li a").click(function(){
						      $(".btn:first-child").text($(this).text());
						      $(".btn:first-child").val($(this).text());
						   	});
						});
					</script>
				</div>
			</th>
			<th class="col-md-4">
			</th>
		</tr>
</table>

<font size="6">No. of rooms: <%= @rooms %></font><br>
<font size="6">Total (RM): <%= @money %></font><br>

<div id="spoiler" style="display:none"> 
	<table class="table">
		<tr>
			<th><b>Guest name</b></th>
			<th><b>IC/Passport</b></th>
			<th><b>Room number</b></th>
			<th><b>Total (RM)</b></th>
		</tr>
		<% @invoices.each do |inv| %>
		<tr>
			<td><%= inv.name %></td>
			<td><%= inv.identification %></td>
			<td><%= inv.room %></td>
			<td><%= inv.rate %></td>
		</tr>
		<% end %>
	</table>
</div> 

<button title="More" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">More</button>