<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

<table>
	<tr>
		<th><b>Name</b></th>
		<th><b>Role</b></th>
		<th><b>Uprade/Delete</b></th>
	</tr>

	<% @users.each do |u| %>
	<tr>
		<td><%= u.username %></td>
		<td><%= u.role %></td>
		<% if u.role == "rand" %>
			<td><%= link_to "Upgrade", users_upgrade_path(user_id: u.id) %></td>
			<td><%= link_to "Delete", cancel_user_registration_path(user_id: u.id), method: :delete, class: 'btn btn-danger', data:{confirm: 'Are you sure you want to delete the user?'} %></td>
		<% elsif u.role == "staff" %>
			<td><%= link_to "Delete", cancel_user_registration_path(user_id: u.id), method: :delete, class: 'btn btn-danger', data:{confirm: 'Are you sure you want to delete the user?'} %></td>
		<% else %>
			<td>SK</td>
		<% end %>
	</tr>
	<% end %>
</table>


